/*Общие настройки*/
* {
  margin: 0 auto;
}
.container {
  min-height: 100%;
  margin: 0 auto;
  width: 1366px;
}
html,
body {
  height: 100%;
}
/*HEAD*/
.head {
  height: 800px;
  background-image: url(img/slider-img.png);
}
/*Навигация*/
.brand {
  margin-left: 98px;
}
.nav {
  padding-top: 63px;
  float: left;
}
.homenav {
  margin-left: 380px;
}
.nav > span > a {
  text-decoration: none;
  color: black;
}
.homenav,
.productsnav,
.historynav,
.showroomnav,
.contactnav {
  padding-left: 15px;
  padding-right: 15px;
}
.unactivenav a:hover {
  color: red;
}
.activenav {
  font-weight: bold;
  border-bottom: 2px solid black;
}
.search {
  padding-left: 21px;
}
/*Текстовая часть головы*/
.order {
  padding-top: 373px;
  padding-left: 98px;
}
.headordertrending {
  color: green;
  font-size: 18px;
}
.headorderFISHNET {
  font-size: 62px;
  padding-left: 6px;
}
.headordertext,
.ndspanorder {
  font-size: 14px;
  padding-left: 6px;
}
/* Кнопка ORDER US */
.orderbutton {
  height: 45px;
  width: 212px;
  background-color: white;
  text-align: center;
  border-bottom-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-top-right-radius: 17px;
  border-top-left-radius: 17px;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  margin-top: 42px;
  box-shadow: 5px 2px 5px black;
}
.orderbutton a {
  display: block;
  height: 35px;
  padding-top: 15px;
  width: 212px;
  text-decoration: none;
  color: black;
}
.orderbutton a:hover {
  box-shadow: 8px 2px 5px black;
  height: 30px;
  padding-top: 15px;
  width: 212px;
  text-decoration: none;
  color: black;
  border-bottom-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-top-right-radius: 17px;
  border-top-left-radius: 17px;
}
/* Круглые кнопки навигации */
.navicirclebutton {
  margin-top: 150px;
  margin-left: 450px;
  position: relative;
}
.toppic {
  position: absolute;
  top: 0;
  left: 40px;
}
/*EXPLORE ЧАСТЬ*/
.exploreall {
  height: 490px;
  background-color: white;
  width: 1366px;
}
.centerexploreall {
  width: 1171px;
  height: 368px;
  margin-top: 122px;
  margin-bottom: 120px;
  margin-left: 98px;
  margin-right: 98px;
  position: relative;
}
.exploreallpad {
  padding-left: 30px;
}
.backprod1explore {
  position: absolute;
  top: 25;
  left: 0px;
}
/*EXPLORE текст*/
.exploretexteploreall {
  padding-left: 690px;
}
.ExploreFeaturedtext {
  padding-left: 9px;
  padding-right: 20px;
  font-size: 36px;
  font-weight: bold;
  border-bottom: 3px solid black;
}
.ExploreNewtext {
  padding-left: 11px;
  padding-right: 22px;
  font-size: 36px;
  border-bottom: 1px solid gray;
}
.textexplorealltop {
  margin-bottom: 50px;
}
.textexplorealltop > span > a {
  text-decoration: none;
  color: black;
}
.textexplorealltop > span > a:hover {
  color: red;
}
.absoluteexplorealltext {
  position: absolute;
  top: 175px;
  left: 50px;
  text-align: center;
}
/*EXPLORE дивы*/
.spaninsideback1 {
  font-size: 22px;
  font-weight: bold;
}
.spaninsideback2 {
  font-size: 14px;
}
/*Кнопка круглая*/
.buttonexploreall {
  background-color: white;
  height: 52px;
  width: 52px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  box-shadow: 2px 2px 5px black;
  margin-bottom: 10px;
}
.arrowimg {
  padding-top: 16px;
  padding-left: 7px;
}
.buttonlink {
  height: 52px;
  width: 52px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
/*FISHNET ЧАСТЬ*/
.fishnetchair {
  height: 683px;
  width: 1366px;
  background-color: black;
  position: relative;
}
/*Фон*/
.fishnetchair1,
.fishnetchair2 {
  height: 684px;
  width: 684px;
  position: absolute;
}
.fishnetchair1 {
  background-image: url(img/promo-img.png);
  padding-left: 683px;
}
.fishnetchair2 {
  background-image: url(img/promo-img1.png);
}
/*Кнока ORDER US*/
.orderbuttonfishnet {
  height: 45px;
  width: 212px;
  background-color: white;
  text-align: center;
  border-bottom-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-top-right-radius: 17px;
  border-top-left-radius: 17px;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  box-shadow: 5px 2px 5px black;
  margin-top: 36px;
}
.orderbuttonfishnet a {
  display: block;
  height: 35px;
  padding-top: 15px;
  width: 212px;
  text-decoration: none;
  color: black;
}
.orderbuttonfishnet a:hover {
  box-shadow: 8px 2px 5px black;
  height: 30px;
  padding-top: 15px;
  width: 212px;
  text-decoration: none;
  color: black;
  border-bottom-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-top-right-radius: 17px;
  border-top-left-radius: 17px;
}
/*Отступ(Центрирование текста)*/
.fishnetchair1main,
.fishnetchair2main {
  padding-left: 51px;
  padding-top: 228px;
}
/*Текстовая часть*/
.exclusivefishnettext {
  font-size: 18px;
  color: cornflowerblue;
  font-weight: bold;
}
.fishnetchairfishnettext {
  font-size: 36px;
}
.textfishnettext {
  padding-top: 4px;
  color: gray;
}
/*ТрендингПрод*/
.trendingprod {
  height: 989px;
  width: 1366px;
}
.centertrendprod {
  width: 1170px;
  height: 869px;
  margin-left: 98px;
  margin-right: 98px;
  margin-bottom: 120px;
  margin-top: 119px;
  position: relative;
}
.lift1trendprod {
  padding-left: 30px;
  padding-top: 64px;
}
.lift2trendprod {
  padding-top: 30px;
  padding-left: 30px;
}
.trendprod2prod {
  padding-top: 30px;
}
.trendprod1prod {
  padding-top: 64px;
}
.TRENDINGPRODTEXT {
  font-size: 36px;
  font-weight: bold;
}
.exploretexttrendprod {
  padding-left: 700px;
  font-size: 18px;
  font-weight: bold;
}
.exploretexttrendprod a {
  text-decoration: none;
  color: black;
}
.exploretexttrendprod a:hover {
  color: red;
}
/*HOT DEAL*/
.HotDeal {
  height: 800px;
  background-image: url(img/hotdeal.png);
}
/*Круглые кнопки снизу*/
.hotdealcirclebutton {
  padding-top: 250px;
  margin-left: 625px;
  position: relative;
}
.toppichotdeal {
  position: absolute;
  top: 740;
  left: 40px;
}
/*Выравнивание основной части HOT DEAL*/
.hotdealmain {
  padding-top: 287px;
  margin-left: 99px;
}
/*Текстовая часть Hot Deal*/
.hotdealtexthotdeal > span {
  font-size: 18px;
  font-weight: bold;
  color: red;
}
.hotdealtextFISHNETCHAIR > span {
  font-size: 62px;
  color: black;
}
.hotdealtextTEXT > span {
  font-size: 14px;
  word-spacing: 4px;
  color: gray;
}
/*Order Us*/
.orderbuttonhotdeal {
  height: 45px;
  width: 212px;
  background-color: white;
  text-align: center;
  border-bottom-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-top-right-radius: 17px;
  border-top-left-radius: 17px;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  box-shadow: 5px 2px 5px black;
  margin-top: 35px;
}
.orderbuttonhotdeal a {
  display: block;
  height: 35px;
  padding-top: 15px;
  width: 212px;
  text-decoration: none;
  color: black;
}
.orderbuttonhotdeal a:hover {
  box-shadow: 8px 2px 5px black;
  height: 30px;
  padding-top: 15px;
  width: 212px;
  text-decoration: none;
  color: black;
  border-bottom-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-top-right-radius: 17px;
  border-top-left-radius: 17px;
}
/*EXCLUSIVE*/
.exclusive {
  height: 690px;
}
/*Центрирование*/
.centerexclusive {
  margin-left: 98px;
  margin-top: 120px;
  margin-bottom: 120px;
  margin-right: 98px;
  height: 570px;
  width: 1170px;
}
/*Блоки*/
.centerexclusive1block {
  padding-left: 31px;
  padding-top: 186px;
}
.exclusive1block {
  background-image: url(img/product-1-lg.png);
  width: 570px;
  height: 570px;
  float: left;
}
.exclusive2block {
  width: 270px;
  height: 270px;
  background-image: url(img/product-2-sm.png);
  margin-left: 30px;
}
.exclusive3block {
  width: 270px;
  height: 270px;
  background-image: url(img/product-3-sm.png);
  margin-left: 30px;
}
.exclusive4block {
  width: 270px;
  height: 270px;
  background-image: url(img/product-4-sm.png);
  margin-left: 30px;
  margin-top: 30px;
}
.exclusive5block {
  width: 270px;
  height: 270px;
  background-image: url(img/product-5-sm.png);
  margin-left: 30px;
  margin-top: 30px;
}
/*MOBILE APP*/
.mobileapp {
  height: 516px;
  background-image: url(img/back-img.png);
}
.centermobileapp {
  padding-top: 125px;
  padding-left: 98px;
}
/*Текст*/
.mobileapptext1 {
  font-size: 18px;
  color: lightslategray;
  font-weight: bold;
}
.mobileapptext2 {
  font-size: 62px;
}
.mobileapptext3 {
  font-size: 22px;
  color: gray;
}
/*Ссылки*/
.mobileappimgs {
  padding-top: 33px;
}
.img2mobileapp {
  margin-left: 10px;
}
/*FOOTER*/
.footer {
  height: 384px;
  margin: 0 auto;
  width: 1366px;
  background-image: url(img/backgroundfooter.png);
}
.centerfooter {
  margin-left: 60px;
  margin-right: 70px;
  padding-top: 121px;
  padding-bottom: 31px;
  width: 1250px;
  height: 234px;
}
.headfooterblock {
  padding-bottom: 25px;
  color: gray;
  font-size: 18px;
  font-weight: bold;
}
.footer1block3 {
  padding-top: 32px;
}
.footer2ndblock {
  margin-left: 103px;
}
.footer2block2 {
  padding-top: 16px;
  font-weight: bold;
}
.boldtext {
  font-weight: bold;
}
.info2blockfooter {
  padding-left: 103px;
}
.footer3rdblock {
  margin-left: 100px;
}
.footerinput {
  margin-top: 29px;
  height: 46px;
  width: 368px;
  border: 1px solid gray;
}
.downfooterblock {
  height: 28px;
  padding-top: 70px;
  margin-left: 0px;
  margin-right: 0px;
}
.buttonsfooter {
  padding-left: 138px;
}
.termsfooter {
  padding-left: 150px;
}
/*ДРУГОЕ*/
.clr {
  clear: both;
}
.floatleft,
.floatleft1 {
  float: left;
}
