/*Общие настройки*/
* {
  margin: 0 auto;
}
.container {
  min-height: 100%;
  margin: 0 auto;
  width: 1366px;
}
html,
body {
  height: 100%;
}
/*HEAD*/
.head {
  height: 189px;
}
/*Навигация*/
.brand {
  margin-left: 98px;
}
.nav {
  margin-top: 63px;
  float: left;
}
.homenav {
  margin-left: 380px;
}
.nav > span > a {
  text-decoration: none;
  color: black;
}
.homenav,
.productsnav,
.historynav,
.showroomnav,
.contactnav {
  padding-left: 15px;
  padding-right: 15px;
}
.unactivenav a:hover {
  color: red;
}
.activenav {
  font-weight: bold;
  border-bottom: 2px solid black;
}
.search {
  padding-left: 21px;
}
/*nav2*/
.nav2 {
  height: 70px;
  width: 1366px;
  background-image: url(img/backnav.png);
  margin-top: 36px;
}
.nav2text > div > a {
  text-decoration: none;
}
/*Текстовая часть Nav2*/
.ALLtextnav {
  margin-left: 360px;
  margin-top: 28px;
}
.HOMEtextnav {
  margin-left: 45px;
  margin-top: 28px;
}
.OFFICEtextnav,
.FURNITUREtextnav,
.MODERNtextnav,
.CLASSICtextnav {
  margin-left: 34px;
  margin-top: 28px;
}
.unactivenav2 > a {
  color: gray;
  font-weight: bold;
}
.activenav2 > a {
  color: black;
  font-weight: bold;
}
.unactivenav2 > a:hover {
  color: red;
  font-weight: bold;
}
/*mainblockproddeails*/
.mainblockproddeails {
  height: 876px;
  width: 1366px;
}
.centermainblockproddeails {
  height: 604px;
  width: 1138px;
  margin-top: 119px;
  margin-left: 98px;
  margin-right: 130px;
}
/*PICBLOCK*/
.picproddeails_2 {
  margin-left: 150px;
}
.picproddeails_3,
.picproddeails_4 {
  margin-left: 10px;
}
/*textblockmainproddeails*/
.textblockmainproddeails {
  height: 604px;
  width: 513px;
}
.textmainproddeails_1 {
  font-size: 36px;
  font-weight: bold;
}
.textmainproddeails_2 {
  font-size: 18px;
  color: red;
  font-weight: bold;
}
.textmainproddeails_31 {
  font-size: 28px;
}
.textmainproddeails_32 {
  font-size: 48px;
}
.textmainproddeails_33 {
  font-size: 28px;
}
.textmainproddeails_1,
.textmainproddeails_2,
.textmainproddeails_3 {
  text-align: center;
}
.orderusbuttonmainproddeails {
  height: 65px;
  width: 510px;
  background-color: red;
  text-align: center;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  box-shadow: 2px 2px 5px black;
}
.orderusbuttonmainproddeails a {
  display: block;
  height: 35px;
  padding-top: 15px;
  width: 510px;
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-weight: bold;
}
.orderusbuttonmainproddeails a:hover {
  box-shadow: 8px 2px 5px black;
  height: 50px;
  width: 510px;
  text-decoration: none;
  color: white;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.textmainproddeails_4 {
  font-size: 16px;
  margin-top: 50px;
  margin-left: 5px;
  line-height: 24px;
}
/*ТрендингПрод*/
.relatedprod {
  height: 588px;
  width: 1366px;
}
.centerrelatedprod {
  width: 1170px;
  height: 470px;
  margin-left: 98px;
  margin-right: 98px;
  margin-bottom: 120px;
  margin-top: 92px;
}
.relatedproduct {
  margin-left: 30px;
  margin-top: 64px;
}
.relatedproduct1 {
  margin-top: 64px;
}
.RELATEDPRODTEXT {
  font-size: 36px;
  font-weight: bold;
}
.exploretextrelatedprod {
  padding-left: 700px;
  font-size: 18px;
  font-weight: bold;
}
.exploretextrelatedprod a {
  text-decoration: none;
  color: black;
}
.exploretextrelatedprod a:hover {
  color: red;
}
/*FOOTER*/
.footer {
  height: 384px;
  margin: 0 auto;
  width: 1366px;
  background-image: url(img/backgroundfooter.png);
}
.centerfooter {
  margin-left: 60px;
  margin-right: 70px;
  padding-top: 121px;
  padding-bottom: 31px;
  width: 1250px;
  height: 234px;
}
.headfooterblock {
  padding-bottom: 25px;
  color: gray;
  font-size: 18px;
  font-weight: bold;
}
.footer1block3 {
  padding-top: 32px;
}
.footer2ndblock {
  margin-left: 103px;
}
.footer2block2 {
  padding-top: 16px;
  font-weight: bold;
}
.boldtext {
  font-weight: bold;
}
.info2blockfooter {
  padding-left: 103px;
}
.footer3rdblock {
  margin-left: 100px;
}
.footerinput {
  margin-top: 29px;
  height: 46px;
  width: 368px;
  border: 1px solid gray;
}
.downfooterblock {
  height: 28px;
  padding-top: 70px;
  margin-left: 0px;
  margin-right: 0px;
}
.buttonsfooter {
  padding-left: 138px;
}
.termsfooter {
  padding-left: 150px;
}
/*ДРУГОЕ*/
.clr {
  clear: both;
}
.floatleft,
.floatleft1 {
  float: left;
}
